.index{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.b{
    width: 200px;
}
.dropdown{
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
@media only screen and (max-width: 987px){
    
}